$white: rgb(255, 255, 255); // #ffffff
$black: rgb(0, 0, 0); // #000000
$very-light-blue: rgb(94, 101, 243); //#5e65f3

// Palette
$primary: rgb(94, 101, 243); // #5E65F3
$lavender-blue: rgb(191, 193, 250); //##bfc1fa
$platinum: rgb(224, 224, 224); //##e0e0e0
$selective-yellow: rgb(255, 184, 0); //#ffb800
$anti-flash-white: rgb(240, 240, 240); // #f0f0f0
$st-patrick-blue: rgb(47, 51, 122); //#2f337a
$silver-sand: rgb(194, 194, 194); //#c2c2c2
$dark-liver: rgb(77, 77, 77); //#d4d4d4
$battleship-grey: rgb(133, 133, 133); //#858585
$alice-blue: rgb(239, 240, 254); //#eff0fe
